<div class="blog-cards-container">
<div class="jumbotron jumbotron-fglyphicon glyphicon-asteriskluid blog-header">
  <div class="container">
    <h2 class="display-3 center">Bluecircle Blog</h2>
    <p class="lead center">Testimonies ment to inspire.</p>
  </div>
</div>
  <div class="container padding-top-5">
    <% @blogs.each do |blog| %>
    <div class="blog-card">
      <div class="photo photo1"></div>
      <ul class="details">
        <li class="author"><a href="#">John Doe</a></li>
        <li class="date"><%= blog.created_at.strftime('%A, %B %d') %></li>
      </ul>
      <div class="description">
        <h3><%= blog.title %></h3>
        <h2>Opening a door to the future</h2>
        <p class="summary"><%= truncate(blog.body, length:200) %></p>
        <a href="#">Read More</a>
      </div>
    </div>
    <% end %>
  </div>
</div>