<div class="childrens-index">
  <div class="container">
    <h1 class="animated slideInLeft">CHILDREN</h1>
  </div>
</div>
<div class="container childrens-container">
  <p id="notice"><%= notice %></p>
  <h1 class="center padding-top-10 padding-bottom-10">Children</h1>
  <div class="row">
  <% @children.each do |child| %>
      <%= child.name %><br>
      <%= image_tag child.picture_url.to_s %><br>
      <% end %>
  </div>
</div>
