<div class="full-page landing">
	<div class="container">
		<h1>BLUE CIRCLE</h1>
		<div class="container tagline">
			<p>
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<div id="startchange">
	<div class="full-page" id="about">
		<div class="container padding-top-5 padding-bottom-5">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="card slideanim">
							<div class="card-block">
								<h4 class="card-title">Card title</h4>
								<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="card-link">Card link</a>
								<a href="#" class="card-link">Another link</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<div class="card slideanim">
							<div class="card-block">
								<h4 class="card-title">Card title</h4>
								<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="card-link">Card link</a>
								<a href="#" class="card-link">Another link</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="card slideanim">
							<div class="card-block">
								<h4 class="card-title">Card title</h4>
								<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="card-link">Card link</a>
								<a href="#" class="card-link">Another link</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<div class="card slideanim">
							<div class="card-block">
								<h4 class="card-title">Card title</h4>
								<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="card-link">Card link</a>
								<a href="#" class="card-link">Another link</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>