/************/
/* circles */
/************/
// linear-gradient(-135deg, rgba(0, 128, 255, 0.85) 0%, rgba(41, 72, 176, 0.85) 50%, rgba(70, 35, 122, 0.85) 100%)
.circles-index {
    background: linear-gradient(-135deg, rgba(0, 128, 255, 0.85) 0%, rgba(41, 72, 176, 0.85) 50%, rgba(70, 35, 122, 0.85) 100%), url("https://static.pexels.com/photos/161593/baby-child-kid-girl-161593.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 85%;

    h1 {
        color: white;
        text-align: center;
        padding-top: 22%;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        letter-spacing: 5px;
    }
}

.circles-show {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://static.pexels.com/photos/259269/pexels-photo-259269.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 85%;

    h1 {
        color: white;
        text-align: center;
        padding-top: 22%;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        letter-spacing: 5px;
    }
}