<div class="circles-index">
  <div class="container">
    <h1>CIRCLES</h1>
  </div>
</div>
<div class="container circles-container">
  <p id="notice"><%= notice %></p>
  <h1 class="center padding-top-10 padding-bottom-10">Circles</h1>
  <div class="row">
  <% @circles.each do |circle| %>
    <div class="col-md-4 ">
      <img src="<%= circle.image %>" alt="..." class="rounded-circle slideanim">
      <p class="center"><%= circle.name %></p>
    </div><br>
  <% end %>
  </div>
</div>