<div class="container main">
    <h2 class="text-left">Esther's circle</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
           <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
        </div>
        <div class="col-sm-6">
           <h3 style="color:LawnGreen;">KES 25000</h3>
           <h4>Amount raised</h4>
           <span><i class="material-icons">person</i></span><h3>Members</h3>
           <h3 style="color:LawnGreen;">KES 200</h3>
           <h3>Monthly pledge</h3>
        </div>
        
    </div>
</div>