<h2>Anita's Circle</h2>
<hr>
 <section class="intro">
    <row>
      <div class="col-lg-6 col-sm-12 left">
        <div id="startchange">
  <div class="full-page" id="about_child">
    <div class="container padding-top-5 padding-bottom-5">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-6">
            <div class="card  text-white" style="width: 35rem;">
              <div class="card-block">
                <h4 class="card-title">Child profile</h4>
                
                <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Name</button>
                      <button type="button" disabled class="btn btn-default">Anita Kemboi</button>
                  </div>&nbsp;&nbsp;
                  <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Date of Birth</button>
                      <button type="button" disabled class="btn btn-default">05/12/2012</button>
                  </div>
                  <br>
                  <br>
                  <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Age</button>
                      <button type="button" disabled class="btn btn-default">5</button>
                  </div>&nbsp;&nbsp;
                  <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Gender</button>
                      <button type="button" disabled class="btn btn-default">female</button>
                  </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-6">
          </div> -->
        </div>
        <div class="row">
          <!-- <div class="col-sm-6">
          </div> -->
          <div class="col-sm-6">
            <div class="card  text-white" style="width: 35rem;">
              <div class="card-block">
                <h4 class="card-title">Child Story</h4>
                
                <p class="card-text">This sweet girl is Anita, an orphan, whose parents were murdered in front of her and her sister due to post election violence several years ago. She lives with Momma Phoebe who cares for dozens of vulnerable children in Bondo, Kenya, on the shores of Lake Victoria. She finds joy in simple things, laughter with her older sister, Lucy, and the other children, and peace in knowing that she is loved, wanted, and cared for.

</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card  text-white" style="width: 35rem;">
              <div class="card-block">
                <h4 class="card-title">Child Education</h4>
                <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">School</button>
                      <button type="button" disabled class="btn btn-default">Kalima Primary School</button>
                  </div>&nbsp;&nbsp;
                <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Class</button>
                      <button type="button" disabled class="btn btn-default">2</button>
                  </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-6">
          </div> -->
          <div class="col-sm-6">
            <div class="card text-white" style="width: 35rem;">
              <div class="card-block">
                <h4 class="card-title">Home address</h4>
                <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Home</button>
                      <button type="button" disabled class="btn btn-default">Malaika Children's Home</button>
                  </div>&nbsp;&nbsp;
                <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Location</button>
                      <button type="button" disabled class="btn btn-default">Bondo,Kisumu</button>
                  </div>
                  <br>
                  <br>
                  <div class="btn-group">
                      <button type="button" disabled class="btn btn-success">Contact</button>
                      <button type="button" disabled class="btn btn-default">+254742733457</button>
                  </div>
                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
      <div class="col-lg-6 col-sm-12 right">
      <div class="container">
    <div class="row">    
        <div class="col-md-6 col-md-offset-3">
            <div class="card" style="width: 35rem;">
                <div class="card-image">
                    <img src="https://answersafrica.com/wp-content/uploads/2016/10/Girl-Child-Day-1024x683.jpg" alt="Smiley face">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">Anita Kemboi</span>                    
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title"><strong>Child Status</strong></span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>This is the status field for this child. It is maintained and updated frequently by the matron incharge at the child's respective home. Come here to see how the child is fairing on</p>
                </div><!-- card reveal -->
                <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="progress green">
                <div class="progress-bar" style="width:75%; background:#5fad56;">
                    <div class="progress-value"></div>
                </div>
                </div>
                <h2>Amount raised:</h2>
                <h2><KBD>KES 24000</KBD></h2>
          
            <h2>Members: 54</h2>
            <h2>Monthly pledge:<BR><kbd>KES 200</kbd></h2>
            
            
        </div>

    </div>
</div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-success btn-lg btn-block">Join Circle</button>
    <form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_iIqCyt4zj6odNLkh5HI8LPUd"
    data-amount="20000"
    data-name="Blue Circle"
    data-currency="kes"
    data-description="Donate Today"
    data-image="https://thumbs.dreamstime.com/z/
    vector-abstract-blue-circle-banner-logo-design-template-flyer-48112491.jpg"
    data-panel-label="Donate"
    data-label="Donate to savings account"
    data-locale="auto">

  </script>
</form>
</div>
<div></div>
         <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/d8/e8/e3/d8e8e3d49a05419820e1efcce5543ce5--beautiful-green-eyes-pretty-eyes.jpg" alt="Smiley face"> --> 
      </div>
    </row>
  </section>
  